[req]
default_bits = 2048
encrypt_key = no
default_md = sha256
utf8 = yes
string_mask = utf8only
prompt = no
distinguished_name = server_dn
req_extensions = server_reqext

[server_dn]
countryName = PE
stateOrProvinceName = Lima
localityName = Lima
organizationName = Byancode S.A.C
organizationalUnitName = Development
commonName = __APP_HOST__

[server_reqext]
basicConstraints = CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier = hash
# subjectAltName = @alt_names

# [alt_names]
# DNS.1 = ns1.__APP_HOST__
# DNS.2 = ns2.__APP_HOST__
# IP.3 = __APP_IP__